{% extends "neo.html" %}

{% block title %}Noah Trupin | Projects{% endblock %}

{% block content %}
    <h1>Projects</h1>
    {% if g.user != None %}
        <p><a href="{{ url_for('projects.create') }}">New Project</a></p>
    {% endif %}
    <ul>
        {% for project in projects if project["pinned"] %}
            <li class="li-pinned">
                <hgroup>
                    <a href="{{ url_for('projects.show_id', id=project.id) if project.urlid == None else url_for('projects.show_name', name=project.urlid) }}">
                    {% if not project.public %}<mark>Private</mark> {% endif %}<b style="font-size:larger;">{{ project.name }}</b></a>

                    {% if project["brief"] != None %}
                        <p style="margin-bottom:0;">
                            {{ project["brief"] }}
                        </p>
                    {% endif %}
                    <p>
                        {% if project.continuous %}
                            <small>
                                {% if project["startdate"] != None %}
                                    Started {{ project["startdate"].strftime('%B %d, %Y') }}
                                {% endif %}
                            </small>
                        {% else %}
                            {% if project["startdate"] != None %}
                                <small>{{ project["startdate"].strftime('%B %d, %Y') }} - {{ project["enddate"].strftime('%B %d, %Y') if project["enddate"] != None else "Current" }}</small>
                            {% endif %}
                        {% endif %}
                    </p>
                </hgroup>
            </li>
        {% endfor %}
        {% for project in projects if not project["pinned"] %}
            <li style="list-style:none;background-image:none;background-repeat:none;background-position:0;">
                <hgroup>
                    <a href="{{ url_for('projects.show_id', id=project.id) if project.urlid == None else url_for('projects.show_name', name=project.urlid) }}">
                    {% if not project.public %}<mark>Private</mark> {% endif %}<b style="font-size:larger;">{{ project.name }}</b></a>

                    {% if project["brief"] != None %}
                        <p style="margin-bottom:0;">
                            {{ project["brief"] }}
                        </p>
                    {% endif %}
                    <p>
                        {% if project.continuous %}
                            <small>
                                {% if project["startdate"] != None %}
                                    Started {{ project["startdate"].strftime('%B %d, %Y') }}
                                {% endif %}
                            </small>
                        {% else %}
                            {% if project["startdate"] != None %}
                                <small>{{ project["startdate"].strftime('%B %d, %Y') }} - {{ project["enddate"].strftime('%B %d, %Y') if project["enddate"] != None else "Current" }}</small>
                            {% endif %}
                        {% endif %}
                    </p>
                </hgroup>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
