{% extends "minimal.html" %}

{% block title %}Noah Trupin | {{ project["name"] }}{% endblock %}

{% block content %}
    <hgroup>
        <h1>{{ project["name"] }}</h1>

        <p>
            {% if project.continuous %}
            {% if project["startdate"] != None %}
            Created {{ project["startdate"].strftime('%B %d, %Y') }} | 
            {% endif %}
            Continuous project
            {% else %}
            {% if project["startdate"] != None %}
            {{ project["startdate"].strftime('%B %d, %Y') }} - {{ project["enddate"].strftime('%B %d, %Y') if project["enddate"] != None else "Current" }}
            {% endif %}
            {% endif %}
        </p>
    </hgroup>
    <div>
        <ul style="margin-bottom:1rem;list-style:none;">
            {% if project["link"] %}
                <li>
                    Link: <a href="{{ project.link }}">{{ project.link }}</a>
                </li>
            {% endif %}
            {% if project["github"] %}
                <li>
                    GitHub: <a href="{{ project.github }}">{{ project.github|replace('https://github.com/', '') }}</a>
                </li>
            {% endif %}
        </ul>
        {{ project["content"]|safe }}
    </div>
    <div>
        {% if g.user['id'] == project['author_id'] %}
            <a href="{{ url_for('projects.update', id=project['id']) }}">Edit</a>
        {% endif %}
    </div>
{% endblock %}
