{% extends "base.jinja" %}

{% from "projects/form.jinja" import form_for %}

{% block content %}
<section class="page-section">
  <h1 class="page-title">Edit Project</h1>
  {{ form_for(request.form if request.form else project) }}
  <form action="{{ url_for('projects.delete', id=project.id) }}" method="post" class="delete-form">
    <button type="submit" class="button-danger" onclick="return confirm('Are you sure?');">Delete</button>
  </form>
</section>
{% endblock %}
