<footer class="mb-16 mt-8">
  <p className="mt-8 text-neutral-600 dark:text-neutral-300">
    &copy {{ now.year }} <a href="/" class="transition-all hover:text-neutral-800">Noah Trupin</a>
  </p>
</footer>
