<div class="timeline-list">
  {% for update in updates %}
  <div class="timeline-item">
    <p class="timeline-date">
      {{ update.date.strftime("%b") }}&nbsp;{{ update.date.year }}
    </p>
    <p class="timeline-text">
      {{ update.description }}
    </p>
  </div>
  {% endfor %}
</div>
