{% extends "base.jinja" %}
{% block content %}
<section class="page-section">
  {% if g.user != None %}
  <a class="button-link" href="{{ url_for('writing.create') }}">New essay</a>
  {% endif %}
  <h1 class="page-title">Writing</h1>
  <p class="section-intro">
    A collection of my writing on various subjects. Writings here do not represent the opinions of my institutions or employers.
  </p>
  <div class="collection-list">
    {% for writing in writings %}
    <a href="{{ url_for('writing.show_canonical', name=writing.canonical_url) if writing.canonical_url else url_for('writing.show_id', id=writing.id) }}" class="collection-item">
      <p class="collection-date">
        {{ writing.published_at.strftime("%b %d, %Y") }}
      </p>
      <p class="collection-title">
        {{ writing.title }}
        {% if writing.public == false %}
        <span class="badge-private">Private</span>
        {% endif %}
      </p>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
