{% extends "base.jinja" %}

{% from "writing/form.jinja" import form_for %}

{% block content %}
{{ form_for(request.form if request.form else writing) }}
<form action="{{ url_for('writing.delete', id=writing['id']) }}" method="post">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
</form>
{% endblock %}
