:root {
    --bs-link-color: var(--root-color);
    --bs-link-hover-color: var(--root-color);
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 2rem;
    --font-size-xlg: 2.4rem;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --line-height-default: 1.25;
    --line-height-open: 1.5;
}

:root .form-check-input:checked {
    background-color: var(--root-color);
    border-color: var(--root-color);
}

:root .accordion-button:focus {
    border-color: var(--root-color);
    filter: brightness(125%);
    box-shadow: none;
}

:root .accordion-button:after {
    filter: brightness(100%) grayscale(100%);
}

:root a:hover {
    filter: brightness(85%);
}

html {
    scroll-behavior: smooth;
}

/*@media (prefers-color-scheme: light) {
    html {
        --bg-color: #ffffff;
        --bg-color-off: #dddddd;
        --txt-color: #000000;
        --link-color: #add8e6;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --bg-color: #000000;
        --bg-color-off: #444444;
        --txt-color: #ffffff;
        --link-color: #add8e6;
    }
}*/

body {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 50rem;
    height: 100%;
}

html[data-bs-theme="light"] .accordion-button[aria-expanded=true] {
    color: #000000!important;
    background-color: #ffffff!important;
}

html[data-bs-theme="dark"] .accordion-button[aria-expanded=true] {
    color: #ffffff!important;
    background-color: #212529!important;
}

a {
    color: var(--root-color);
}