{% extends "base.html" %}

{% block title %}Noah Trupin | About{% endblock %}

{% block content %} 
<h3>Hi! I'm Noah</h3>
<p>I'm an undergraduate computer science student at <a href="https://purdue.edu">Purdue University</a>. I started programming in elementary school (circa 2014) through VBA macros in Microsoft Excel, but soon moved onto full-stack web development, iOS development, compiler and interpreter construction, and more. </p>
<p>For high school I attended The Lawrenceville School, where I
- Lead the Programming Club, where I designed and implemented curricula to teach students C and Python programming; 
- Served as a Web Editor for The Lawrence, our weekly publication, where I built the publication's <a href="https://ntrupin.com/projects/3">full-stack website</a>;
- Acted as President of Peer Tutoring, where, alongside tutoring freshmen through seniors in CS and mathematics, I built a <a href="https://ntrupin.com/projects/7">tutor matching utility</a>;
- Worked on Sentinel, the school's internal student portal, and built an <a href="https://ntrupin.com/projects/2">interactive simulation framework</a> present on screen throughout the Math and Science building;
- Combined machine learning and statistical and predicative analysis to build <a href="https://ntrupin.com/projects/6">a land-management informing tool</a> for Lawrenceville and the Stroud Water Research Center;
- and presented posters at four Student Showcases.</p>
<p>Previously, I attended The Lawrenceville School, where I lead multiple project teams and computer science-related clubs.</p>
<details open><summary>GitHub Statistics</summary><p>
    <a href="https://github.com/ntrupin">
        <img src="https://raw.githubusercontent.com/ntrupin/github-stats/master/generated/overview.svg#gh-light-mode-only" />
        <img src="https://raw.githubusercontent.com/ntrupin/github-stats/master/generated/languages.svg#gh-light-mode-only" />
    </a>
</p></details>
{% endblock %}           
            