{% extends "base.html" %}

{% block title %}Noah Trupin | About{% endblock %}

{% block content %} 
<h3>Hi! I'm Noah</h3>
<p>I'm an undergraduate computer science student at <strong>Purdue University</strong>.</p>
<p>Previously, I attended The Lawrenceville School, where I lead multiple project teams and computer science-related clubs.</p>
<details open><summary>GitHub Statistics</summary><p>
    <a href="https://github.com/ntrupin">
        <img src="https://raw.githubusercontent.com/ntrupin/github-stats/master/generated/overview.svg#gh-light-mode-only" />
        <img src="https://raw.githubusercontent.com/ntrupin/github-stats/master/generated/languages.svg#gh-light-mode-only" />
    </a>
</p></details>
{% endblock %}           
            