<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css" crossorigin="anonymous" media="screen" />
        <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark-reasonable.min.css" crossorigin="anonymous" media="screen and (prefers-color-scheme: dark)" />
        <noscript>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark-reasonable.min.css" />
        </noscript>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Noah Trupin's website. Projects, writings, and maybe more." />
    {% endblock %}
</head>
<body>
    <div class="container base_grid">
        <header class="header">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <nav class="nav">
                <ul>
                    {% if request.path != "/" %}
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% endif %}
                </ul>
                <ul></ul>
                <ul class="nav_items">
                    <li><a href="{{ url_for('projects.index') }}">Projects</a></li>
                    <li><a href="{{ url_for('education') }}">Education</a></li>
                    <li><a href="{{ url_for('about') }}">About Me</a></li>
                    {% if g.user != None %}
                    <li><a href="{{ url_for('pages.index') }}">Pages</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <section class="sidebar">
            <div class="sidebar_full">
                <hgroup class="sidebar_full">
                    <picture alt="Noah Trupin">
                        <source srcset="{{ url_for('static', filename='images/headshots/noah-2023-02-23.webp') }}" type="image/webp" />
                        <img src="{{ url_for('static', filename='images/headshots/noah-2023-02-23.png') }}" class="headshot" />
                    </picture>
                    <h4>Noah Trupin</h4>
                    <p style="margin-bottom:0;"><small>Undergrad CS @ Purdue</small></p>
                </hgroup>
                <div class="sidebar_links grid">
                    <div>
                        <nav>
                            <ul>
                                <li style="padding:10px;"><a href="mailto:natrupin@gmail.com"><img alt="Email Icon" src="{{ url_for('static', filename='images/envelope-solid.svg') }}" class="svg svg_link" /></a></li>
                                <li style="padding:10px;"><a href="https://github.com/ntrupin"><img alt="GitHub Logo" src="{{ url_for('static', filename='images/github.svg') }}" class="svg svg_link" /></a></li>
                                <li style="padding:10px;"><a href="https://linkedin.com/in/ntrupin"><img alt="LinkedIn Logo" src="{{ url_for('static', filename='images/linkedin.svg') }}" class="svg svg_link" /></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <div><a href="{{ url_for('static', filename='files/trupin_resume.pdf') }}">Resume</a></div>
                    </div>
                </div>
                <hr style="width:80%;margin-left:0px;" />
            </div>
            <nav class="sidebar_collapsed">
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}">
                            <picture>
                                <source srcset="{{ url_for('static', filename='images/headshots/noah-2023-02-23.webp') }}" type="image/webp" />
                                <img src="{{ url_for('static', filename='images/headshots/noah-2023-02-23.png') }}" class="headshot" alt="Noah Trupin" />
                            </picture>
                        </a>
                    </li>
                    <li>
                        <hgroup style="margin-top:24px">
                            <h4>Noah Trupin</h4>
                            <p><small>Undergrad CS @ Purdue</small></p>
                        </hgroup>
                    </li>
                </ul>
                <ul class="nav_menu">
                    <li>
                        <details role="list" dir="rtl">
                            <summary aria-haspopup="listbox" role="link listitem">
                                <img class="svg" src="{{ url_for('static', filename='images/bars-solid.svg') }}" width="24px" height="24px" alt="Menu button" />
                            </summary>
                            <ul role="listbox listitem">
                                {% if request.path != "/" %}
                                <li><a href="{{ url_for('index') }}">Home</a></li>
                                {% endif %}
                                <li><a href="{{ url_for('projects.index') }}">Projects and Research</a></li>
                                <li><a href="{{ url_for('education') }}">Education</a></li>
                                <li><a href="{{ url_for('about') }}">About Me</a></li>
                                <li><a href="mailto:natrupin@gmail.com">Email</a></li>
                                <li><a href="https://github.com/ntrupin">GitHub</a></li>
                                <li><a href="https://linkedin.com/in/ntrupin">LinkedIn</a></li>
                                <li><a href="{{ url_for('static', filename='files/trupin_resume.pdf') }}">Resume</a></li>

                                {% if g.user != None %}
                                <li><a href="{{ url_for('pages.index') }}">Pages</a></li>
                                {% endif %}
                            </ul>
                        </details>
                    </li>
                </ul>
            </nav>
        </section>
        <main class="content">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <!--<hr />-->
            {% block footer %}
                &copy; 2018-{{ now.year }} <a href="/">Noah Trupin</a>
            {% endblock %}
        </footer>
    </div>
    {% if (page is defined and "<code class=" in page["content"]) or (project is defined and "<code class=" in project["content"]) %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    {% endif %}
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
