<!DOCTYPE html>
<html style="--root-color: var(--bs-blue);" lang="en" data-bs-theme="light">
<head>
    {% block head %}
        <link rel="preload" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
        <link rel="preload" href="{{ url_for('static', filename='css/style.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        </noscript>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Noah Trupin's website. Projects, writings, and maybe more." />
    {% endblock %}
</head>
<body>
    <div class="container base_grid">
        <header class="header">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <nav class="nav">
                <ul>
                    {% if request.path != "/" %}
                        <li><a href="/">Home</a></li>
                    {% endif %}
                </ul>
                <ul></ul>
                <ul class="nav_items">
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/about">About Me</a></li>
                </ul>
            </nav>
        </header>
        <section class="sidebar">
            <hgroup class="sidebar_full">
                <img src="{{ url_for('static', filename='images/noah.jpeg') }}" class="headshot" />
                <h4>Noah Trupin</h4>
                <p><small>Undergrad CS @ Purdue</small></p>
            </hgroup>
            <nav class="sidebar_collapsed">
                <ul>
                    <li>
                        <img src="{{ url_for('static', filename='images/noah.jpeg') }}" class="headshot" />
                    </li>
                    <li>
                        <hgroup style="margin-top:24px">
                            <h4>Noah Trupin</h4>
                            <p><small>Undergrad CS @ Purdue</small></p>
                        </hgroup>
                    </li>
                </ul>
                <ul class="nav_menu">
                    <li>
                        <details role="list" dir="rtl">
                            <summary aria-haspopup="listbox" role="link">
                                <img src="{{ url_for('static', filename='images/bars-solid.svg') }}" width="24px" height="24px" />
                            </summary>
                            <ul role="listbox">
                                <li><a href="/projects">Projects</a></li>
                                <li><a href="/about">About Me</a></li>
                                <li><a href="https://github.com/ntrupin">GitHub</a></li>
                                <li><a href="https://linkedin.com/in/ntrupin">LinkedIn</a></li>
                                <li><a href="https://twitter.com/ntrupin">Twitter</a></li>
                                <li><a href="{{ url_for('static', filename='files/trupin_resume.pdf') }}">Resume</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </nav>
            <nav class="sidebar_links">
                <ul>
                    <li><a href="https://github.com/ntrupin"><img src="{{ url_for('static', filename='images/github.svg') }}" class="svg_link" /></a></li>
                    <li><a href="https://linkedin.com/in/ntrupin"><img src="{{ url_for('static', filename='images/linkedin.svg') }}" class="svg_link" /></a></li>
                    <li><a href="https://twitter.com/ntrupin"><img src="{{ url_for('static', filename='images/twitter.svg') }}" class="svg_link" /></a></li>
                    <li><a href="{{ url_for('static', filename='files/trupin_resume.pdf') }}">Resume</a></li>
                </ul>
            </nav>
        </section>
        <main class="content">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <!--<hr />-->
            {% block footer %}
                &copy; 2017-{{ now.year }} <a href="/">Noah Trupin</a>.
            {% endblock %}
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>