{% extends "base.html" %}

{% block content %}
    <h3>Home</h3>
    <p>Welcome to my website! Here serves to showcase my writings, projects, and other odds and ends I find interesting.</p>
    <h3>About this site</h3>
    <p>This site is written in <b>Python</b> using the <b>Flask</b> web framework with <b>Jinja2</b> for templating, <b>PostgreSQL</b> as its database, and <b>Werkzeug</b> for authentication. The frontend uses vanilla <b>HTML/CSS/JavaScript</b> with <b>Pico.css</b> for base styling. I currently host the database on <b>Heroku</b> and the client/server on <b>Vercel</b>. <b>GitHub CI/CD</b> manages deployment from <a href="https://github.com/ntrupin/website"><b>this GitHub repository</b></a>.</p>
    <p>Started as a static site hosted on GitHub Pages in 2017, ntrupin.com now serves as a dynamic hub for my projects, writing, and more.</p>
{% endblock %}