@font-face {
  font-family: 'Mona Sans';
  src:
    url('/static/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/static/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --font-family: 'Mona Sans', sans-serif;
  --bg-color: #ffffff;
  --font-color: #000000;
  --primary-color: /*#00b478*/ rgb(71, 159, 239);
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: #ffffff;
    --font-color: #000000;
    --primary-color: /*#00b478*/ rgb(71, 159, 239);
  }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  justify-content: flex-start;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 0.1rem;
  transition: all 0.25s ease-in;

  word-wrap:break-word;
  word-break:break-word;

  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}

a:hover {
  text-decoration-color: var(--primary-color);
  -webkit-text-decoration-color: var(--primary-color);
  -moz-text-decoration-color: var(--primary-color);
}

header {
  width: 100%;
}

.plain-link {
  color: var(--text-color);
}

.go-home {
  margin-top: 2rem;
  text-align: left;
}

.headshot {
  aspect-ratio: 1 / 1;
  cursor: help;
  margin-bottom: 2rem;
  width: 10rem;
}

.hero {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15;
  max-width: 42em;
  padding: 20px;
  text-align: center;
}

.hero .intro {
  color: var(--font-color);
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero .links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 2rem;
}

.hero .links * {
  font-size: 1.2rem;
}

.navbar {
  display: flex;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15;
  max-width: 42em;
  padding: 20px;
  justify-content: space-between;
  width: calc(100% - 40px);
}

.navbar .links {
  display: none;
}

@media (min-width: 768px) {
  .navbar .links {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 0;
    justify-content: center;
  }
}

.content {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15;
  max-width: 42em;
  padding: 20px;
}

.content * {
  line-height: 1.5;
}

.content h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.content h2, .content h3, .content h4, .content h5 {
  color: var(--primary-color);
  margin-bottom: 1.2rem;
}

.content p {
  margin-bottom: 1rem;
}

.content hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content img {
  max-width: 100%;
}

.content ul {
  margin-bottom: 1rem;
}

.content pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

li.pinned {
  list-style: none;
}

li.pinned::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -20px;
  margin-top: 10px;
  background-image: url(/static/images/thumbtack-solid.svg);
  background-repeat: no-repeat;
}

