{% macro form_for(object) %}
    <form method="post">
        <label for="text">Text</label>
        <input name="text" id="text" value="{{ object['text'] }}" required />

        <label for="url">Link</label>
        <input name="url" id="url" value="{{ object['url'] }}" required />

        <input type="checkbox" name="pinned" id="pinned" {{ "checked" if object["pinned"] == true }} />
        <label for="pinned">Pinned</label>

        <input type="submit" value="Save" />
    </form>
    <script src="{{ url_for('static', filename='js/page.js') }}"></script>
{% endmacro %}
