{% extends "base.html" %}

{% block title %}Noah Trupin | Reading List{% endblock %}

{% block content %}
<h1>Reading List</h1>
<p>Papers, websites, and cool people. Things I've read or am meaning to read. All entries before June 26, 2024 undated.</p>
{% if g.user != None %}
<p><a href="{{ url_for('links.create') }}">New Link</a></p>
{% endif %}
{% for link in links %}
<p style="text-align:left;margin-bottom:10px!important;">
  {% if link.created >= cutoff %}
  <span style="float:right;">
    {{ link.created.strftime('%Y-%m-%d') }}
  </span>
  {% endif %}
  <b><a href="{{ link.url }}">{{ link.text }}</a></b>
</p>
{% endfor %}
{% endblock %}
