{% extends "base.html" %}

{% block title %}Noah Trupin | Reading List{% endblock %}

{% block content %}
<h1>Reading List</h1>
<p>Papers, websites, and cool people. Things I've read or am meaning to read. All entries before June 26, 2024 undated.</p>
{% if g.user != None %}
<p><a href="{{ url_for('links.create') }}">New Link</a></p>
{% endif %}
<p><b>Pinned</b></p>
{% for link in links if link.pinned %}
<p style="text-align:left;margin-bottom:10px!important;">
  {% if link.created >= cutoff %}
  <span style="float:right;">
    {{ link.created.strftime('%Y-%m-%d') }}
  </span>
  {% endif %}
  <b><a target="_blank" rel="noopener noreferrer" href="{{ link.url }}">{{ link.text }}</a></b>
</p>
{% endfor %}
<hr />
<p><b>All</b></p>
{% for link in links if not link.pinned %}
<p style="text-align:left;margin-bottom:10px!important;">
  {% if link.created >= cutoff %}
  <span style="float:right;font-family:monospace;font-size:smaller;">
    {{ link.created.strftime('%Y-%m-%d') }}
  </span>
  {% endif %}
  {% if g.user != None %}
  <a href="{{ url_for('links.update', id=link.id) }}">Edit</a>
  {% endif %}
  <b><a target="_blank" rel="noopener noreferrer" href="{{ link.url }}">{{ link.text }}</a></b>
</p>
{% endfor %}
{% endblock %}
