{% extends "base.html" %}

{% block title %}Noah Trupin | About{% endblock %}

{% block content %} 
<h1>Hi! I'm Noah</h1>
<p>I'm an undergraduate computer science student at <a href="https://purdue.edu">Purdue University</a>. I started programming in elementary school (circa 2014) through VBA macros in Microsoft Excel, but soon moved onto full-stack web development, iOS development, compiler and interpreter construction, and more. </p>
<!--
For high school, I attended The Lawrenceville School. While there, I

- Lead the Programming Club, where I designed and implemented curricula to teach students C and Python programming; 
- Served as a Web Editor for The Lawrence, our weekly publication, where I built the publication's [full-stack website](https://ntrupin.com/projects/3);
- Acted as President of Peer Tutoring, where, alongside tutoring freshmen through seniors in CS and mathematics, I built a [tutor matching utility](https://ntrupin.com/projects/7);
- Worked on Sentinel, the school's internal student portal, and built an [interactive simulation framework](https://ntrupin.com/projects/2) present on screen throughout the Math and Science building;
- Combined machine learning and statistical and predicative analysis to build [a land-management informing tool](https://ntrupin.com/projects/6) for Lawrenceville and the Stroud Water Research Center;
- and presented posters at four Student Showcases.

Now, I spend most of my time exploring compilers and interpreters with an emphasis on **parsing algorithms**.
-->
{% endblock %}           
            