{% extends "base.jinja" %}
{% block content %}
<section>
  <h1 class="list-page-title">403 - Forbidden</h1>
  <p class="intro-copy">You do not have permission to access this page.</p>
</section>
{% endblock %}
