{% extends "base.jinja" %}
{% block content %}
<h1 class="mb-8 text-2xl font-semibold tracking-tighter">403 - Forbidden</h1>
<a href="{{ url_for('index') }}" class="transition-all hover:text-neutral-800">Take me home.</a>
{% endblock %}
