{% extends "base.jinja" %}
{% block content %}
<section>
  <h1 class="main-title">Noah Trupin</h1>
  <p class="intro-copy">
    I am a third-year undergraduate computer science student at Purdue University with a concentration in machine intelligence and a (completed) minor in mathematics. I research robot perception and planning under Prof. <a href="https://qureshiahmed.github.io/">Ahmed Qureshi</a> and adaptive scheduling for generative modeling under Prof. <a href="https://www.cs.purdue.edu/homes/yexiang/">Yexiang Xue</a>. I am also interested in programming languages and compilers as tools for building both domain-specific, high-performance systems, and the future of machine intellignece.
  </p>
  <p class="intro-copy">
    Previously, I worked as a software engineer on Virtual Cards at Capital One, built out experimental trading environments as a founding engineer at Straato, and conducted research across numerical and high performance computing, machine learning, and robotics.
  </p>
  <p class="intro-copy">
    I will join Optiver as a software engineer intern in Summer 2026.
  </p>

  <div class="section-block">
    <h2 class="section-title">Latest updates</h2>
    {% include "partials/updates.jinja" %}
  </div>
</section>
{% endblock %}
