{% extends "neo.html" %}

{% block title %}Noah Trupin{% endblock %}

{% block content %}
<h1>Noah Trupin</h1>

<p>I'm a second-year student at Purdue University, where I study computer science with concentrations in machine intelligence and programming language, am minoring in math, serve as a teaching assistant for CS240: Programming in C, and do research.</p>

<p>I currently work at the <a href="https://corallab.net">Cognitive Robot Autonomy and Learning Lab</a>.</p>

<h2 class="h-underline">Education</h2>

<p style="text-align:left;">
    <b>Purdue University</b>
    <span style="float:right;">
        West Lafayette, Indiana
    </span>
    <br />
    BS Computer Science (Honors)
    <span style="float:right;">
    Aug 2023 - May 2026 (expected)
    </span>
    <br />
    <br />
    Concentrations in Machine Intelligence and Programming Lanugages
    <br />
    Minor in Mathematics
</p>

<h2 class="h-underline">Research</h2>

<p>I research robot <em>perception</em>, <em>planning</em>, and <em>tool use</em> in the <a href="https://corallab.net">Cognitive Robot Autonomy and Learning Lab</a> under <a href="https://wzx16.github.io/">Zixing Wang</a> and Professor <a href="https://qureshiahmed.github.io/">Ahmed Qureshi</a>.</p>

<p>Previously, I investigated and implemented parallel algorithms for solving large sparse systems with Professor Xiaotao Yang in the <a href="https://qureshiahmed.github.io/">Yang Group</a>, developed a fault-tolerant framework for interactive physics simulations for <a href="https://sentinel.lawrenceville.org/">Sentinel</a>, deployed sensors and wrote machine learning algorithms to guide preservation of endangered rivers with <a href="https://stroudcenter.org/">Stroud</a>.</p>

<h2 class="h-underline">Professional</h2>

<p>Summer 2025, I will be working as a software engineer intern at <a href="https://www.capitalone.com/tech/software-engineering/">Capital One</a>.</p>

<p>Before, I built experimental trading environments as a founding engineer at <a href="https://www.straato.com/">Straato</a> and hosted international hackathons with <a href="https://megahack.tech/">MEGA</a>.

<h2 class="h-underline">Teaching</h2>

<p>All entires indicate teaching assistanceships.</p>

<ul class="ul-naked">
    <b>Purdue University</b>
    <li>
        CS240: Programming in C
        <span style="float:right;">
            Spring 2025
        </span>
    </li>

    <br />

    <b>The Lawrenceville School</b>
    <li>
        MA555: Honors Computer Programming
        <span style="float: right;">
            2021-2022 year
        </span>
    </li>
</ul>

{# <h2 class="h-underline">Misc.</h2>

<p>Most prominent in my day-to-day life, I’m also a tea enthusiast. I'm quite font of <a href="https://www.harney.com/products/indigo-punch">Harney and Sons' Indigo Punch</a>, <a href="https://us.palaisdesthes.com/en_us/green-tea-n-25-us.html">Palais des Thés Thé Vert de Noël</a>, citron tea with honey, and various other green and herbal teas.</p> #}

{% endblock %}
