{% extends "post.html" %}

{% block title %}Noah Trupin{% endblock %}

{% block content %}
<div class="container">
    <div class="flex-header">
        <h1 style="margin-bottom:2px;">Noah Trupin</h1>
        <span><b>email</b>: ntrupin&#x300C;at&#x300D;purdue&#x300C;dot&#x300D;edu</span>
    </div>
    <div class="flex-row">
        <div class="flex-sidebar">
            <picture alt="Noah Trupin">
                <img src="/static/images/headshots/noah-2023-05-28.png" title="Me on the Mackenzie lawn, Lawrenceville, New Jersey. May 2023." alt="Me on the Mackenzie lawn, Lawrenceville, New Jersey. May 2023." class="headshot" />
            </picture>
            <ul class="links" style="margin-bottom:5px;">

                <span>CV (<a href="{{ url_for('static', filename='files/ntrupin_resume.pdf') }}">PDF</a>, <a href="{{ url_for('pages.show_name', name='cv') }}">HTML</a>)</span>
            </ul>
            <br />
            <ul class="links">
                <a href="https://linkedin.com/in/ntrupin/">LinkedIn</a>
                <a href="https://scholar.google.com/citations?hl=en&user=lxSSXCIAAAAJ">Scholar</a>
                <a href="https://github.com/ntrupin">GitHub</a>
            </ul>
        </div>
        <div class="flex-content">
            <div>
                {{ page["content"]|safe }}
            </div>
            <br />
            <div>
                {% if g.user['id'] == page['author_id'] %}
                <a href="{{ url_for('pages.update', id=page['id']) }}">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="flex-extended">
        <div>
            {{ page["extended"]|safe }}
        </div>
        <div>
            {% if g.user['id'] == page['author_id'] %}
            <a href="{{ url_for('pages.update', id=page['extended_id']) }}">Edit</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
