{% extends "base.jinja" %}
{% block content %}
<section>
  {% if locale == 'ko' %}
  <h1 class="main-title">Noah Trupin (노아)</h1>
  <p lang="ko" class="intro-copy">
    Optiver에서 소프트웨어 엔지니어로 일하고 있습니다. 주로 거래 실행과 최적화에 관심이 있습니다.
  </p>
  <p lang="ko" class="intro-copy">
    Purdue University에서 컴퓨터과학을 전공하고 우등으로 졸업했습니다.
    재학 중에는 <a href="https://wzx16.github.io/">Zixing Wang</a> 및 <a href="https://qureshiahmed.github.io/">Ahmed Qureshi</a>와 함께 로봇 인지와 계획을 연구했으며, <a href="https://www.cs.purdue.edu/homes/yexiang/">Yexiang Xue</a>와 함께 생성 모델링을 연구했습니다.
  </p>
  {% else %}
  <h1 class="main-title">Noah Trupin</h1>
  <p lang="en" class="intro-copy">
    I am an incoming software engineer at Optiver (September 2026).
    I work, broadly, in execution and optimization.
  </p>
  <p lang="en" class="intro-copy">
    I graduated with honors in computer science from Purdue, where I researched
    robot perception and planning with <a href="https://wzx16.github.io/">Zixing Wang</a> and <a href="https://qureshiahmed.github.io/">Ahmed Qureshi</a>
    and generative modeling with <a href="https://www.cs.purdue.edu/homes/yexiang/">Yexiang Xue</a>.
  </p>
  {% endif %}

  <div class="section-block">
    <h2 class="section-title">{{ _("Latest updates") }}</h2>
    {% include "partials/updates.jinja" %}
  </div>
</section>
{% endblock %}
