<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        {% block head %}
        <link rel="preload" href="{{ url_for('static', filename='fonts/Mona-Sans.woff2') }}" as="font" type="font/woff2" crossorigin>

        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Noah Trupin's website. Projects, writings, and maybe more." />
        {% endblock %}
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>
<html>
