<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/neo.css') }}" />

    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="icon" href="{{ url_for('static', filename='images/ghibli.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Noah Trupin">
    <meta name="description" content="Noah Trupin's website. Projects, writings, etc." />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ntrupin.com/">
    <meta property="og:title" content="Noah Trupin">
    <meta property="og:description" content="Noah Trupin's website. Projects, writings, etc.">
    <meta property="og:image" content="{{ url_for('static', filename='images/ghibli.png') }}">
    {% endblock %}
  </head>
  <body>
    <header class="header">
      {% block header %}
      <div class="navbar">
        {% if request.path != "/" %}
        <a href="{{ url_for('index') if parent is not defined else url_for(parent) }}">&#8606; {{ 'Home' if parent is not defined else 'Back' }}</a>
        {% else %}
        <p style="display:inline;margin:0;padding:0;">&nbsp;</p>
        {% endif %}
        <ul class="links">
          {#<a href="{{ url_for('pages.show_name', name='about') }}">About</a>#}
          <a href="{{ url_for('projects.index') }}">Projects</a>
          <a href="{{ url_for('links.index') }}">Reading List</a>
          <a href="{{ url_for('static', filename='files/ntrupin_resume.pdf') }}">Resume</a>
          {# <a href="{{ url_for('pages.show_name', name='contact') }}">Contact</a> #}
        </ul>
      </div>
      {% endblock %}
    </header>
    <main class="content">
      {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      {% block footer %}
      &copy; 2018-{{ now.year }} <a href="/">Noah Trupin</a><br />
      {% endblock %}
    </footer>
  </body>
<html>
