{% macro form_for(object) %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ object['name'] }}" required />

        <label for="startdate">Start Date</label>
        <input name="startdate" id="startdate" type="date" value="{{ (object['startdate'].strftime('%Y-%m-%d')) if object['startdate'] else '' }}" />

        <label for="enddate">End Date</label>
        <input name="enddate" id="enddate" type="date" value="{{ (object['enddate'].strftime('%Y-%m-%d')) if object['enddate'] else '' }}" />

        <label for="content">Content</label>
        <textarea name="content" id="content">{{ object['content'] }}</textarea>

        <input type="checkbox" name="public" id="public" {{ "checked" if object["public"] == true }} />
        <label for="public">Public</label>
    
        <input type="submit" value="Save" />
    </form>
    <script src="{{ url_for('static', filename='js/project.js') }}"></script>
{% endmacro %}