{% macro form_for(object) %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ object['name'] }}" required />

        <label for="startdate">Start Date</label>
        <input name="startdate" id="startdate" type="date" value="{{ (object['startdate'].strftime('%Y-%m-%d')) if object['startdate'] else '' }}" />

        <label for="enddate">End Date</label>
        <input name="enddate" id="enddate" type="date" value="{{ (object['enddate'].strftime('%Y-%m-%d')) if object['enddate'] else '' }}" />

        <label for="urlid">URL Name</label>
        <input name="urlid" id="urlid" value="{{ object['urlid'] if object['urlid'] else '' }}" />

        <label for="link">Link</label>
        <input name="link" id="link" value="{{ object['link'] if object['link'] else '' }}" />

        <label for="github">GitHub</label>
        <input name="github" id="github" value="{{ object['github'] if object['github'] else '' }}" />

        <label for="brief">Brief</label>
        <textarea name="brief" id="brief">{{ object['brief'] if object['brief'] else '' }}</textarea>

        <label for="content">Content</label>
        <textarea name="content" id="content">{{ object['content'] }}</textarea>

        <input type="checkbox" name="public" id="public" {{ "checked" if object["public"] == true }} />
        <label for="public">Public</label>

        <input type="checkbox" name="pinned" id="pinned" {{ "checked" if object["pinned"] == true }} />
        <label for="pinned">Pinned</label>

        <input type="checkbox" name="continuous" id="continuous" {{ "checked" if object["pinned"] == true }} />
        <label for="continuous">Continuous</label>

        <input type="submit" value="Save" />
    </form>
    <script src="{{ url_for('static', filename='js/project.js') }}"></script>
{% endmacro %}
