{% extends "base.html" %}

{% block title %}Noah Trupin | Projects{% endblock %}

{% block content %}
    <h1>Projects</h1>
    {% if g.user != None %}
        <p><a href="{{ url_for('projects.create') }}">New Project</a></p>
    {% endif %}
    <ul>
        {% for project in projects if project["pinned"] %}
            <li class="pinned">
                <hgroup>
                    <a href="{{ url_for('projects.show_id', id=project.id) if project.urlid == None else url_for('projects.show_name', name=project.urlid) }}">
                        {% if not project.public %}<mark>Private</mark> {% endif %}<b style="font-size:larger;">{{ project.name }}</b></a>
                    <ul style="position:relative;top:-2px;padding-left:0px;display:inline;">
                        {% if project["github"] != None %}
                            <li style="padding-left:10px;display:inline-block;">
                                <a href="{{ project.github }}">
                                    <img alt="{{ project.name }} GitHub" src="{{ url_for('static', filename='images/github.svg') }}" class="svg svg_link" />
                                </a>
                            </li>
                        {% endif %}
                        {% if project["link"] != None %}
                            <li style="padding-left:10px;display:inline-block;">
                                <a href="{{ project.link }}">
                                    <img alt="{{ project.name }} link" src="{{ url_for('static', filename='images/link-solid.svg') }}" class="svg svg_link" />
                                </a>
                            </i>
                        {% endif %}
                    </ul>

                    {% if project["brief"] != None %}
                        <p style="margin-bottom:0;">
                            {{ project["brief"] }}
                        </p>
                    {% endif %}
                    <p>
                        {% if project.continuous %}
                            <small>
                                {% if project["startdate"] != None %}
                                    Created {{ project["startdate"].strftime('%B %d, %Y') }} | 
                                {% endif %}
                                Continuous project
                            </small>
                        {% else %}
                            {% if project["startdate"] != None %}
                                <small>{{ project["startdate"].strftime('%B %d, %Y') }} - {{ project["enddate"].strftime('%B %d, %Y') if project["enddate"] != None else "Current" }}</small>
                            {% endif %}
                        {% endif %}
                    </p>
                </hgroup>
            </li>
        {% endfor %}
        {% for project in projects if not project["pinned"] %}
            <li style="list-style:none;background-image:none;background-repeat:none;background-position:0;">
                <hgroup>
                    <a href="{{ url_for('projects.show_id', id=project.id) if project.urlid == None else url_for('projects.show_name', name=project.urlid) }}">
                        {% if not project.public %}<mark>Private</mark> {% endif %}<b style="font-size:larger;">{{ project.name }}</b></a>
                    <ul style="position:relative;top:-2px;padding-left:0px;display:inline;">
                        {% if project["github"] != None %}
                            <li style="padding-left:10px;display:inline-block;">
                                <a href="{{ project.github }}">
                                    <img alt="{{ project.name }} GitHub" src="{{ url_for('static', filename='images/github.svg') }}" class="svg svg_link" />
                                </a>
                            </li>
                        {% endif %}
                        {% if project["link"] != None %}
                            <li style="padding-left:10px;display:inline-block;">
                                <a href="{{ project.link }}">
                                    <img alt="{{ project.name }} link" src="{{ url_for('static', filename='images/link-solid.svg') }}" class="svg svg_link" />
                                </a>
                            </i>
                        {% endif %}
                    </ul>

                    {% if project["brief"] != None %}
                        <p style="margin-bottom:0;">
                            {{ project["brief"] }}
                        </p>
                    {% endif %}
                    <p>
                        {% if project.continuous %}
                            <small>
                                {% if project["startdate"] != None %}
                                    Created {{ project["startdate"].strftime('%B %d, %Y') }} |  
                                {% endif %}
                                Continuous project
                            </small>
                        {% else %}
                            {% if project["startdate"] != None %}
                                <small>{{ project["startdate"].strftime('%B %d, %Y') }} - {{ project["enddate"].strftime('%B %d, %Y') if project["enddate"] != None else "Current" }}</small>
                            {% endif %}
                        {% endif %}
                    </p>
                </hgroup>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
