{% extends "base.html" %}

{% block title %}Noah Trupin | Projects{% endblock %}

{% block content %}
    <h3>Projects and Research</h3>
    {% if g.user != None %}
        <p><a href="{{ url_for('projects.create') }}">New Project</a></p>
    {% endif %}
    <ul>
        {% for project in projects %}
            <li>
                <hgroup>
                    <a href="{{ url_for('projects.show', id=project.id) }}">
                        {% if not project.public %}<mark>Private</mark> {% endif %}<i>{{ project.name }}</i>
                    </a>
                    <p>
                        {% if project["startdate"] != None %}
                            <small>{{ project["startdate"].strftime('%B, %Y') }} - {{ project["enddate"].strftime('%B, %Y') if project["enddate"] != None else "Current" }}</small>
                        {% endif %}
                    </p>
                </hgroup>
            </li>
        {% endfor %}
    </ul>
{% endblock %}