{% extends "base.html" %}

{% block content %}
    <hgroup>
        <a href="{{ url_for('projects.index') }}">All Projects and Research</a>
        <h1>{{ project["name"] }}</h1>

        <p>
            {% if project["startdate"] != None %}
                <small>{{ project["startdate"].strftime('%B %d, %Y') }} - {{ project["enddate"].strftime('%B %d, %Y') if project["enddate"] != None else "Current" }}</small>
            {% endif %}
        </p>
    </hgroup>
    <div>
        <ul>
            {% if project["link"] %}
                <li>
                    Link: <a href="{{ project.link }}">{{ project.link }}</a>
                </li>
            {% endif %}
            {% if project["github"] %}
                <li>
                    GitHub: <a href="{{ project.github }}">{{ project.github|replace('https://github.com/', '') }}</a>
                </li>
            {% endif %}
        </ul>
        {{ project["content"]|safe }}
    </div>
    <div>
        {% if g.user['id'] == project['author_id'] %}
            <a href="{{ url_for('projects.update', id=project['id']) }}">Edit</a>
        {% endif %}
    </div>
{% endblock %}
